(
  actors: [ 
    ( slug: "ferris", name: "Ferris" ),
    ( slug: "bevy", name: "Bevy" ),
  ],
  script: [
    (
      id: 1,
      text: Some("Here come the two stars: Ferris and Bevy."),
      next: Some(90),
    ),
    (
      id: 90,
      action: Join,
      actors: ["ferris"],
      next: Some(2),
    ),
    (
      id: 2,
      actors: ["ferris"],
      text: Some("Rust is awesome!!!"),
      next: Some(3),
    ),
    (
      id: 3,
      text: Some("A joyful laughter from a nowhere to be seen audience."),
      next: Some(91),
    ),
    (
      id: 91,
      action: Join,
      actors: ["bevy"],
      next: Some(4),
    ),
    (
      id: 4,
      actors: ["bevy"],
      text: Some("Right! I'm so happy to be here! Love you all!"),
      next: Some(5),
    ),
    (
      id: 5,
      text: Some("You can hear people get up to whistle and applaud. Ferris and Bevy smile, looking straight at the crowd."),
      next: Some(6),
    ),
    (
      id: 6,
      text: Some("You follow their gaze. Only a black, silent camera is there."),
      next: Some(7),
    ),
    (
      id: 7,
      actors: ["ferris"],
      text: Some("And what about you?"),
      next: Some(92),
    ),
    (
      id: 92,
      choices: Some([
        ( text: "I love it, of course, as everyone else.", next: 8 ),
        ( text: "Nah.", next: 9 )
      ]),
    ),
    (
        id: 8,
        text: Some("Everyone clapped."),
        next: Some(100),
    ),
    (
        id: 100,
        action: Leave,
        actors: ["ferriss", "bevy"],
        next: Some(12),
    ),
    (
        id: 9,
        text: Some("The room goes silent. No more pre-recorded crowd. Tears start forming in Ferris' eyes. Bevy looks down, the smile disappeared."),
        next: Some(10),
    ),
    (
        id: 10,
        text: Some("You hear a cracking sound. The few pieces of wood holding the fake walls start to break."),
        next: Some(11),
    ),
    (
        id: 11,
        text: Some("With loud thumps the walls hit the ground, revealing a desolate land made of mist and loneliness. Devoid of colors, and life."),
        next: Some(12),
    ),
    (
        id: 12,
        text: Some("The END."),
    ),
  ],
)