(
    actors: [
      (
        id: "bevy",
        name: "Bevy",
        asset: Some("images/bev.png"),
      ),
    ],
    script: [
        (
            id: 1,
            actors: ["bevy"],
            text: Some("Hello there!")
        ),
        (
            id: 3,
            actors: ["bevy"],
            text: Some("This is an in-game conversation tied to an entity!")
        ),
        (
            id: 4,
            actors: ["bevy"],
            text: Some("There is a cool TalkerBundle that adds all the required components and you use events to interact with the convo!")
        ),
        (
            id: 5,
            actors: ["bevy"],
            text: Some("Bye bye!")
        ),
        (
            id: 6,
            actors: ["bevy"],
            text: Some("Bye bye!")
        ),
        (
            id: 7,
            actors: ["bevy"],
            text: Some("Bye bye!")
        ),
        (
            id: 8,
            actors: ["bevy"],
            text: Some("Dude gtfo")
        )
    ]
)