(
    actors: [
      (
        id: "ferris",
        name: "Ferris",
        asset: Some("images/feri.png"),
      ),
    ],
    script: [
        (
            id: 1,
            actors: ["ferris"],
            text: Some("What's up? I have no other lines.")
        ),
    ]
)