(
  actors: [
    (
        id: "ferris",
        name: "Ferris",
    ),
    (
        id: "bevy",
        name: "Bevy",
    ),
  ],
  script: [
    (
      id: 1,
      text: Some("Here comes the two stars: Ferris and Bevy.")
    ),
    (
      id: 90,
      action: Join,
      actors: [ "ferris" ]
    ),
    (
      id: 2,
      actors: [ "ferris" ],
      text: Some("Rust is awesome!!!")
    ),
    (
      id: 3,
      text: Some("A joyful laughter from a nowhere to be seen audience.")
    ),
    (
      id: 91,
      action: Join,
      actors: [ "bevy" ]
    ),
    (
      id: 4,
      actors: [ "bevy" ],
      text: Some("Right! I'm so happy to be here! Love you all!")
    ),
    (
      id: 5,
      text: Some("You can hear people get up to whistle and applaud. Ferris and Bevy smile, looking straight at the crowd.")
    ),
    (
      id: 6,
      text: Some("You follow their gaze. Only a black, silent camera is there.")
    ),
    (
      id: 7,
      actors: [ "ferris" ],
      text: Some("And what about you?")
    ),
    (
      id: 8,
      text: Some("You quicky say that you love it, of course, as everyone else.")
    ),
    (
      id: 9,
      text: Some("Everyone clapped.")
    ),
    (
      id: 10,
      action: Leave,
      actors: [ "ferris", "bevy" ]
    ),
    (
      id: 11,
      text: Some("The END.")
    )
  ]
)