(
  actors: [
    (
        actor_id: "ferris",
        name: "Ferris",
    ),
    (
        actor_id: "bevy",
        name: "Bevy",
    ),
  ],
  script: [
    (
      id: 1
      text: "Here comes the two stars: Ferris and Bevy."
    ),
    (
      id: 90
      action: Enter
      actors: [
      "ferris"
    ]
    ),
    (
      id: 2
      actors: [
      "ferris"
    ]
      text: "Rust is awesome!!!"
    ),
    (
      id: 3
      text: "A joyful laughter from a nowhere to be seen audience."
    ),
    (
      id: 91
      action: Enter
      actors: [
      "bevy"
    ]
    ),
    (
      id: 4
      actors: [
      "bevy"
    ]
      text: "Right! I'm so happy to be here! Love you all!"
    ),
    (
      id: 5
      text: "You can hear people get up to whistle and applaud. Ferris and Bevy smile, looking straight at the crowd. You follow their gaze, only a black, silent camera is there."
    ),
    (
      id: 6
      actors: [
      "ferris"
    ]
      text: "And what about you?"
    ),
    (
      id: 100
      text: "You quicky say that you love it, of course, as everyone else."
    ),
    (
      id: 7
      text: "Everyone clapped."
    ),
    (
      id: 8
      action: Exit 
      actors: [
      "ferris",
      "bevy"
    ]
    ),
    (
      id: 9
      text: "The end."
  ]
)