(
    version: "1",
    actors: [],
    conversations: [
        (
            id: 1,
            title: "Test",
            actor: 0,
            conversant: 0,
            entries: [
                (
                    id: 1,
                    actor: 0,
                    conversant: 0,
                    menu_text: "",
                    dialogue_text: "Hello",
                    is_root: true,
                    is_group: false,
                    links: [],
                ),
            ],
        ),
    ],
)
